/*
!.bash_profile
!.bashrc
!.gitignore
!.tmux.conf
!.vimrc
!.zshenv
!bootstrap.sh
!install.sh
# .config
!/.config/
/.config/*
## dircolors
!/.config/dircolors/
/.config/dircolors/*
!/.config/dircolors/dircolors
!/.config/dircolors/dircolors_dark
!/.config/dircolors/dircolors_light
## fish
!/.config/fish/
/.config/fish/*
!/.config/fish/fish_plugins
!/.config/fish/conf.d/
/.config/fish/conf.d/*
!/.config/fish/conf.d/[0-9]*-*.fish
!/.config/fish/functions/
/.config/fish/functions/*
!/.config/fish/functions/efish.fish
## git
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/git/ignore
## nvim
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.lua
!/.config/nvim/after/
/.config/nvim/after/*
!/.config/nvim/after/ftplugin/
/.config/nvim/after/ftplugin/*
!/.config/nvim/after/ftplugin/*.lua
!/.config/nvim/ftdetect/
/.config/nvim/ftdetect/*
!/.config/nvim/ftdetect/*.vim
!/.config/nvim/lua/
/.config/nvim/lua/*
!/.config/nvim/lua/*.lua
!/.config/nvim/lua/init/
/.config/nvim/lua/init/*
!/.config/nvim/lua/init/*.lua
!/.config/nvim/lua/config/
/.config/nvim/lua/config/*
!/.config/nvim/lua/config/*.lua
!/.config/nvim/lua/setup/
/.config/nvim/lua/setup/*
!/.config/nvim/lua/setup/*.lua
## starship
!/.config/starship/
/.config/starship/*
!/.config/starship/*.toml
## tmux
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/tmux/scripts/
## wezterm
!/.config/wezterm/
/.config/wezterm/*
!/.config/wezterm/*.lua
!/.config/wezterm/darwin
/.config/wezterm/darwin/*
!/.config/wezterm/darwin/*.lua
## zsh
!/.config/zsh/
/.config/zsh/*
!/.config/zsh/.zshenv
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
!/.config/zsh/conf.d/
/.config/zsh/conf.d/*
!/.config/zsh/conf.d/[0-9]*-*.zsh
!/.config/zsh/sheldon/
/.config/zsh/sheldon/*
!/.config/zsh/sheldon/plugins.toml
