/*
!.bash_profile
!.bashrc
!.gitignore
!.tmux.conf
!.vimrc
!install.sh
# .config
!/.config/
/.config/*
## dircolors
!/.config/dircolors/
/.config/dircolors/*
!/.config/dircolors/dircolors
!/.config/dircolors/dircolors_dark
!/.config/dircolors/dircolors_light
## fish
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!/.config/fish/conf.d/
/.config/fish/conf.d/*
!/.config/fish/conf.d/[0-9]*-*.fish
!/.config/fish/functions/
/.config/fish/functions/*
!/.config/fish/functions/efish.fish
## git
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/git/ignore
## nvim
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/init.lua
!/.config/nvim/lua/
/.config/nvim/lua/*
!/.config/nvim/lua/*.lua
!/.config/nvim/lua/plugins/
/.config/nvim/lua/plugins/*
!/.config/nvim/lua/plugins/*.lua
## starship
!/.config/starship/
/.config/starship/*
!/.config/starship/*.toml
## tmux
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/tmux/scripts/
## zsh
!/.config/zsh/
/.config/zsh/*
!/.config/zsh/.zshenv
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
!/.config/zsh/conf.d/
/.config/zsh/conf.d/*
!/.config/zsh/conf.d/[0-9]*-*.zsh
