/*
!/.config/
/.config/*
!/.config/dircolors/
/.config/dircolors/*
!/.config/dircolors/dircolors
!/.config/fish/
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fish_plugins
!/.config/fish/
!/.config/git/
/.config/git/*
!/.config/git/config
!/.config/git/ignore
!/.config/nvim/
/.config/nvim/*
!/.config/nvim/_config/
!/.config/nvim/coc-settings.json
!/.config/nvim/init.vim
!/.config/tmux/
/.config/tmux/*
!/.config/tmux/tmux.conf
!/.config/tmux/scripts/
!/.config/zsh/
/.config/zsh/*
!/.config/zsh/.zshenv
!/.config/zsh/.zshrc
!.gitignore
!.tmux.conf
!.vimrc
!.zshenv
!install.sh
